@charset "UTF-8";
/* Web Standardization Team, Author:JongWoon,LEE 2019.08.28 */

/*webfont*/
/* * {
  font-family: "Cafe24Dangdanghae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

* {
  font-family: RIDIBatang;
}

.main #header {
  background: transparent;
}

.main #header:before {
  background: transparent;
}

.main #header:after {
  background: transparent;
}

.main #header h1.logo>a {
  background-position: 0 100%;
}

.main #header #gnavigation {
  font-family: RIDIBatang;
}

.main #header #gnavigation .th1 {
  color: #fff;
}

.main #header #gnavigation .th1:hover {
  color: #fff;
}

.main #header #gnavigation .th1:before {
  background: #fff;
}

/* main header languagesel */
/* .main #header .languageSel dt>a {
  color: #fff;
  position: relative;
} */

.main #header .btn_allMenu {
  display: none;
}

.main #header .btn_allMenu i {
  display: none;
}

/* 
.main #header .btn_allMenu i {
  position: absolute;
  right: 150px;
} */

.main #header .btn_top {
  display: none;
}

.main #header.fixed {
  position: fixed;
  top: 0;
  height: 3.75rem;
  background: #f7f8fa;
}

.main #header.fixed:before {
  background: #fff;
}

.main #header.fixed:after {
  background: #d0d3d5;
}

/*logo*/
.main #header.fixed h1.logo>a:first-child {
  display: none;
}

.main #header.fixed h1.logo .img_hover {
  display: block;
  position: absolute;
  top: 0;
}

/*logo end*/

.main #header.fixed #gnavigation .th1 {
  color: #333;
}

.main #header.fixed #gnavigation>li:hover .th1 {
  color: #2ac1bc;
}

/*main header fixed languagesel */
/* .main #header.fixed .languageSel dt>a {
  color: #757575;
} */

.main #header.fixed .btn_allMenu {
  display: block;
}

.main #header.fixed .btn_top {
  display: block;
}

.main #header.current {
  height: 0.5rem;
  background: #f7f8fa;
}

.main #header.current:before {
  background: #fff;
}

.main #header.current:after {
  background: #d0d3d5;
}

/* .main #header.current h1.logo > a {
    background-position: 0 0;
} */
.main #header.current h1.logo>a:first-child img {
  display: none;
}

.main #header.current h1.logo .img_hover {
  display: block;
  z-index: 999;
  position: absolute;
  top: 0;
}

.main #header.current #gnavigation .th1 {
  color: #333;
}

.main #header.current #gnavigation>li:hover .th1 {
  color: #2ac1bc;
}

.main #header.current #gnavigation>li:hover .th1:before {
  background: #2ac1bc;
}

/*main header current languagesel */
/* .main #header.current .languageSel dt>a {
  color: #757575;
} */

.main #header.current .btn_allMenu {
  display: block;
}

.main #header.current .btn_top {
  display: block;
}

.main #header.allMenu {
  position: fixed;
  top: 0;
  height: 22rem;
  background: #f7f8fa;
}

.main #header.allMenu:before {
  background: #fff;
}

.main #header.allMenu:after {
  background: #d0d3d5;
}

.main #header.allMenu h1.logo>a {
  background-position: 0 0;
}

.main #header.allMenu h1.logo .img_hover {
  display: block;
  position: absolute;
  top: 0;
}

.main #header.allMenu #gnavigation .th1 {
  color: #333;
}

.main #header.allMenu #gnavigation>li:hover .th1 {
  color: #2ac1bc;
}

.main #header.allMenu #gnavigation>li:hover .th1:before {
  height: 0.3rem;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.main #header.allMenu .btn_allMenu {
  display: block;
}

.main #header.allMenu .btn_top {
  display: block;
}

#detail_content {
  padding: 0;
}

.mainCnts_wrap {
  position: relative;
}

.mainCnts_wrap h3 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-family: "Gotham" !important;
  color: #000;
  letter-spacing: 0;
}

.mainCnts_wrap.fp-auto-height {
  height: auto !important;
}

.mainCnts_wrap.fp-auto-height .fp-tableCell {
  height: auto !important;
}

/*비쥬얼*/
#section0 {}

/*
.mVisual_wrap{overflow:hidden;height:100%;min-height:45rem;background:url(../img/main/mVisual_bg.jpg) no-repeat 50% 0;background-size:cover}
*/
#section0 .visual_line {
  position: absolute;
  top: 150px;
  left: 20%;
  border: 5px solid #fff;
  width: 1100px;
  height: 620px;
  /* z-index: 30; */
}

.mVisual_wrap {
  overflow: hidden;
  height: 100%;
  min-height: 45rem;
  background-size: cover;
  background-color: #2ac1bc;
}

.mVisual_wrap .item {
  position: relative;
  height: 100%;
}

.mVisual_wrap .item img {
  position: absolute;
  top: 12%;
  left: 12%;
  max-width: 65vw;
}

.mVisual_wrap #mVisualVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  /* background-image: url(../images/bg1.png); */
}

.mVisual_wrap .pc {
  display: block;
}

.mVisual_wrap .mobile {
  display: none;
}

.mVisual_wrap .item>.innerwrap {
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.mVisual_wrap .item>.innerwrap.active {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

#section0 .scrollDown {
  position: absolute;
  bottom: 1.0625rem;
  left: 50%;
  width: 1.2rem;
  height: 1.9rem;
  border: 2px solid #fff;
  border-radius: 0.6rem;
  transform: translateX(-50%);
  z-index: 1;
}

#section0 .scrollDown span {
  position: absolute;
  top: -1.75rem;
  left: 50%;
  margin-left: -3rem;
  width: 6rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fff;
  letter-spacing: -0.025rem;
  text-align: center;
  white-space: nowrap;
}

#section0 .scrollDown .line {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 0.2rem;
  background: #fff;
  animation: aniMouse 1s ease-out infinite;
}

/*
#section0 .scrollDown{position:absolute;bottom:0;left:-0.75rem}
#section0 .scrollDown span{display:block;margin-bottom:2.5rem;font-weight:700;font-size:0.65rem;line-height:1rem;color:#fff;opacity:0.3;filter:alpha(opacity=30);transform:rotate(90deg);-webkit-transform:rotate(90deg)}
#section0 .scrollDown .line{display:block;position:relative;overflow:hidden;width:1px;height:5rem;margin:0 auto;background:rgba(255,255,255,0.25)}
#section0 .scrollDown .line:before{position:absolute;top:0;left:0;width:100%;height:2.5rem;background:#fff;-webkit-animation:scroll 5s infinite linear;animation:scroll 5s infinite linear;content:""}
@-webkit-keyframes scroll{
	0%{transform:translateY(-2.5rem);-webkit-transform:translateY(-2.5rem)}
	100%{transform:translateY(500%);-webkit-transform:translateY(500%)}
}
@keyframes scroll{
	0%{transform:translateY(-2.5rem);-webkit-transform:translateY(-2.5rem)}
	100%{transform:translateY(500%);-webkit-transform:translateY(500%)}
}
*/

/* 메인 애니메이션 */
.main_slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.main_slide.zoomIn {
  animation: zoomIn 4.5s linear forwards;
}

.main_slide.zoomOut {
  animation: zoomOut 4.5s linear forwards;
}

.main_slide.moveLeft {
  animation: moveLeft 4.5s linear forwards;
}

.main_slide.moveLeftDownZoomIn {
  animation: moveLeftDownZoomIn 4.5s linear forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes moveLeft {
  0% {
    transform: scale(1.3) translate(5%);
  }

  100% {
    transform: scale(1.3) translate(-5%);
  }
}

@keyframes moveLeftDownZoomIn {
  0% {
    transform: scale(1.1) translate(1%, -1%);
  }

  100% {
    transform: scale(1.2) translate(-1%, 1%);
  }
}

/*컨텐츠*/
.aboutMignon_wrap1,
/* .skills_wrap, */
.atomypark_wrap,
.social_wrap,
.portfolio_wrap2,
.worlwide_wrap {
  padding: 4rem 0 0;
}

#section1 {}

#section1 .fp-tableCell {
  position: relative;
}

#section1 .fp-tableCell:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background: #f7f7f7;
  content: "";
}

.aboutMignon_wrap2 {
  position: relative;
  height: 40.35rem;
  padding: 0 10rem 0 50%;
}

.aboutMignon_num {
  display: block;
  position: absolute;
  top: 50%;
  right: 7rem;
  width: 2.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.aboutMignon_num>.count {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #cdcdcd;
  letter-spacing: -0.025rem;
  text-align: center;
}

.aboutMignon_num>.count>em {
  line-height: 1rem;
  color: #333;
}

.aboutMignon_imgbox {
  position: absolute;
  top: 0;
  left: -2rem;
  width: 50%;
  padding-right: 3rem;
}

.aboutMignon_imgbox .item {}

.aboutMignon_imgbox a {
  display: block;
  padding: 3rem 2rem;
}

.aboutMignon_imgbox .img {
  display: block;
}

.aboutMignon_imgbox .img>img {
  box-shadow: 0.75rem 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
}

.aboutMignon_count {
  height: 40.35rem;
}

.aboutMignon_count .slick-list {
  top: 50%;
  height: 22.2rem !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.aboutMignon_count .slick-track {}

.aboutMignon_count .item {
  height: 4rem;
  border: 0 none !important;
}

.aboutMignon_desc {
  padding: 0.5rem 0;
  overflow: hidden;
}

.aboutMignon_desc .caption {
  position: relative;
  padding-left: 0;
}

.aboutMignon_desc .caption:before {
  display: none;
  position: absolute;
  top: 2.7rem;
  left: -7.3rem;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  content: "";
}

.aboutMignon_desc .caption>.counter_wrap {
  display: block;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3rem;
  color: #e9e7e7;
  letter-spacing: -0.05rem;
  transition: all 0.5s;
}

.aboutMignon_desc .caption>.counter_wrap>span {
  display: inline-block;
  margin-right: 0.25rem;
  line-height: 3rem;
  transition: font-size 0.5s;
}

.aboutMignon_desc .caption>strong {
  display: none;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: #000;
  letter-spacing: -0.05rem;
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.aboutMignon_desc .caption>strong>span {
  display: none;
  position: relative;
  line-height: 2rem;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s;
}

.aboutMignon_desc .caption>strong>.dot {
  display: none;
  width: 0.8rem;
  height: 0.8rem;
  margin: 1rem 0 0 0.5rem;
  border-radius: 0.8rem;
  background: #d5437a;
  vertical-align: top;
}

.aboutMignon_desc .caption>.desc {
  display: none;
  height: 0;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #767676;
  letter-spacing: -0.025rem;
  opacity: 0;
  transition: all 0.2s;
}

.aboutMignon_count .item.current {
  height: 14.2rem;
}

.current .aboutMignon_desc {
  padding: 1.25rem 0;
}

.current .aboutMignon_desc .img {
  display: block;
}

.current .aboutMignon_desc .caption:before {
  width: 9.5rem;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.current .aboutMignon_desc .caption>.counter_wrap {
  color: #000;
}

.current .aboutMignon_desc .caption>.counter_wrap>span {
  font-size: 5rem;
  line-height: 5rem;
}

.current .aboutMignon_desc .caption>strong {
  display: block;
  opacity: 1;
}

.current .aboutMignon_desc .caption>strong>span {
  display: block;
  opacity: 1;
}

.current .aboutMignon_desc .caption>.desc {
  display: block;
  height: 4.2rem;
  opacity: 1;
}

.aboutMignon_imgbox .slick-prev,
.aboutMignon_imgbox .slick-next {
  position: absolute;
  top: 50%;
  right: calc(-100% + 5rem);
  right: -webkit-calc(-100% + 5rem);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.7rem;
  margin-top: -2.5rem;
  border: 1px solid #e3e6e8;
  border-radius: 2.5rem;
  background: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: border 0.5s ease, background 0.5s ease;
  -webkit-transition: border 0.5s ease, background 0.5s ease;
  z-index: 1;
}

.aboutMignon_imgbox .slick-next {
  margin-top: 2.5rem;
}

.aboutMignon_imgbox .slick-prev>i[class*="xi-"],
.aboutMignon_imgbox .slick-next>i[class*="xi-"] {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  color: #000;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  text-align: center;
}

.aboutMignon_imgbox .slick-prev:hover,
.aboutMignon_imgbox .slick-next:hover {
  border-color: #2ac1bc;
  background: #2ac1bc;
}

.aboutMignon_imgbox .slick-prev:hover>i[class*="xi-"],
.aboutMignon_imgbox .slick-next:hover>i[class*="xi-"] {
  color: #fff;
}


#section2 {
  width: 100vw;
  height: 100vh;
  background: url("../img/main/bg5_3.png") no-repeat 0 0;
}

#section2 .skills_wrap {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 35%;
  height: 35%;
  /* border: 1px solid #000; */
  /* z-index: 1000; */
}


#section2 .skills_wrap .hoverPlease {
  position: absolute;
  right: -200px;
  top: 20%;
  opacity: 0.8;

}

#section2 .skills_des_wrap {
  width: 75%;
  height: 30%;
  text-align: justify;
  color: #333;
  font-size: 20px;
  /* border: 3px dashed #ff0; */
  line-height: 30px;
  position: absolute;
  left: 15%;
  top: 55%;
  margin-top: 20px;
}

#section2 .skills_des_wrap .skills_des1 {
  width: 40%;
  height: 30%;
  /* border: 1px solid red; */
  float: left;
  padding-left: 5px;
  font-family: RIDIBatang;
  line-height: 40px;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#section2 .skills_des_wrap .skills_des2 {
  width: 40%;
  height: 30%;
  /* border: 1px solid blue; */
  float: right;
  padding-right: 5px;
  font-family: RIDIBatang;
  line-height: 40px;
}

#section4 {}

#section4 .fp-tableCell:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #f7f8fa;
  content: "";
}

.social_wrap {
  overflow: hidden;
}

/* .social_wrap h3 {
  margin-bottom: 3.5rem;
  text-align: center;
} */

#section4 .skills_wrap h4 {
  text-transform: uppercase;
}

.social_lst {
  display: table;
  table-layout: fixed;
}

.social_lst .item {
  display: table-cell;
  position: relative;
  padding: 2.5rem 1rem 0;
}

.social_lst .item>a {
  display: block;
  width: 19.3rem;
  margin: 0 auto;
}

.social_lst .item .social_desc {
  display: block;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}

.social_lst .item .social_desc>.img {
  display: block;
}

.social_lst .item .social_desc>.img .mobile {
  display: none;
}

.social_lst .item .social_desc>.caption {
  position: absolute;
  bottom: -76%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.8rem 2.25rem;
  transition: bottom 0.3s ease;
  -webkit-transition: bottom 0.3s ease;
}

.social_lst .item .social_desc>.caption:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #04bbb5;
  opacity: 0.9;
  filter: alpha(opacity=90);
  content: "";
}

.social_lst .item .social_desc strong,
.social_lst .item .social_desc .desc,
.social_lst .item .social_desc .more {
  display: block;
  position: relative;
  word-break: keep-all;
  z-index: 1;
}

.social_lst .item .social_desc strong {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.45rem;
  color: #fff;
  letter-spacing: -0.1rem;
}

.social_lst .item .social_desc .desc {
  margin-top: 1.25rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #fff;
  transition: margin 0.3s ease;
  -webkit-transition: margin 0.3s ease;
}

.social_lst .item .social_desc .more {
  padding: 1.25rem 0 0;
  margin: 1.4rem auto -0.55rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Gotham";
  color: #fff;
}

.social_lst .item>a:hover {}

.social_lst .item>a:hover .social_desc {
  transform: translateY(-2.5rem);
  box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.35);
}

.social_lst .item>a:hover .social_desc>.caption {
  bottom: 0;
}

.social_lst .item>a:hover .social_desc .desc {
  margin-top: 0.75rem;
}

.social_lst .slick-arrow {
  position: absolute;
  top: 50%;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.5rem;
  border: 1px solid #e3e6e8;
  background: rgba(255, 255, 255, 0.75);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  color: transparent;
}

.social_lst .slick-arrow::before {
  font-family: "xeicon";
  display: block;
  font-size: 1.1rem;
  line-height: 1.65rem;
  color: #000;
}

.social_lst .slick-prev {
  left: 0;
}

.social_lst .slick-prev::before {
  content: "\e908";
}

.social_lst .slick-next {
  right: 0;
}

.social_lst .slick-next::before {
  content: "\e90b";
}

.social_wrap .control {
  display: none;
}

.social_wrap .control>a {
  position: absolute;
  top: 4.25rem;
  width: 4.5rem;
  height: 3.25rem;
  background: #eceef0;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  cursor: pointer;
}

.social_wrap .control>a.social-prev {
  left: 0;
}

.social_wrap .control>a.social-next {
  right: 0;
}

.social_wrap .control>a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "xeicon";
  color: #333;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  content: "";
}

.social_wrap .control>a.social-prev:before {
  content: "\e908";
}

.social_wrap .control>a.social-next:before {
  content: "\e90b";
}

.social_wrap .control>a:hover {
  background: #2ac1bc;
}

.social_wrap .control>a:hover:before {
  color: #fff;
}

/*애니메이션*/
.social_wrap h3 {
  filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: filter 0.2s, opacity 0.2s;
  -webkit-transition: filter 0.2s, opacity 0.2s;
}

/* .social_lst .item{opacity:0;filter:alpha(opacity=0);transform:translateX(-1.75rem);-webkit-transform:translateX(-1.75rem);transition:opacity .5s,transform .5s;-webkit-transition:opacity .5s,transform .5s} */
.social_wrap.current h3 {
  filter: blur(0);
  -webkit-filter: blur(0);
  opacity: 1;
  filter: alpha(opacity=100);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.social_wrap.current .social_lst .item {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

/*
.social_wrap.current .social_lst .item:nth-child(1){transition-delay:0.8s;-webkit-transition-delay:0.8s}
.social_wrap.current .social_lst .item:nth-child(2){transition-delay:1.0s;-webkit-transition-delay:1.0s}
.social_wrap.current .social_lst .item:nth-child(3){transition-delay:1.2s;-webkit-transition-delay:1.2s}
*/

/*section6*/
/*section6 추가*/
#section6 {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  background: url("../img/main/left_bird.png") no-repeat 0 0;
  width: 100vw;
  height: 100vh;
}

#section6 a {
  color: #222;
  text-decoration: none;
}

#section6 .nowOn_wrap {
  position: relative;

}

#section6 .nowOn_wrap img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 55%;
  left: 26%;
}

#section6 .nowOn_wrap h4 {
  margin-left: 60px;
}

#section6 .nowOn_wrap h3 {
  line-height: 10px;
  text-align: right;
  color: #fff;
  opacity: 0.5;
  margin-top: 100px;
  margin-left: 30px;
}

#section6 .nowOn_wrap .goodspeak {
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
  text-align: right;
  color: #fff;
  margin-top: 100px;
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#section6 .nowOn_wrap .nowOn_lst {}


/*애니메이션*/
.portfolio_wrap2 h3 {
  padding-top: 30px;
  border: 1px solid #000;
  filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: filter 0.3s, opacity 0.3s;
  -webkit-transition: filter 0.3s, opacity 0.3s;
}

/* .social_lst .item{opacity:0;filter:alpha(opacity=0);transform:translateX(-1.75rem);-webkit-transform:translateX(-1.75rem);transition:opacity .5s,transform .5s;-webkit-transition:opacity .5s,transform .5s} */
.portfolio_wrap2.current h3 {
  padding-top: 30px;
  filter: blur(0);
  -webkit-filter: blur(0);
  opacity: 1;
  filter: alpha(opacity=100);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.social_wrap h4 {
  font: 500 60px/1.5 Open Sans, sans-serif;
  text-align: center;
}

.portfolio_wrap2.current .social_lst .item {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

/*
.social_wrap.current .social_lst .item:nth-child(1){transition-delay:0.8s;-webkit-transition-delay:0.8s}
.social_wrap.current .social_lst .item:nth-child(2){transition-delay:1.0s;-webkit-transition-delay:1.0s}
.social_wrap.current .social_lst .item:nth-child(3){transition-delay:1.2s;-webkit-transition-delay:1.2s}
*/
#section7 {
  height: 8.75rem !important;
}

#section7 .fp-tableCell {
  height: auto !important;
}

#section7 #footer {
  background: #fbfcfc;
}

#section7 #siteinfo .addr,
#section7 #siteinfo .copyright {
  color: #495057;
}

#section6 .img>img {
  width: 100%;
}

/*fullpage Nav*/
#fp-nav.right {
  right: 0;
  margin-top: -222.5px !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 6.75rem;
  height: 1.9rem;
  margin: 0;
}

#fp-nav ul li:last-child,
.fp-slidesNav ul li:last-child {
  display: none;
}

#fp-nav ul li .fp-tooltip.right {
  right: 1.75rem;
}

#fp-nav ul li .fp-tooltip {
  width: auto;
  padding: 0.25rem 0;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1.4rem;
  color: #fff;
  font-family: "Gotham";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
  border-radius: 0;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 1.5rem;
  height: 2px;
  margin: -3px 0 0 0;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

#fp-nav.color ul li .fp-tooltip {
  color: #333;
}

#fp-nav.color ul li a span,
.fp-slidesNav.color ul li a span {
  background: #2ac1bc;
}

#fp-nav.color ul li:hover .fp-tooltip,
#fp-nav.fp-show-active.color a.active+.fp-tooltip {
  color: #2ac1bc;
}

/*메인 */
#section6 .nowOn_View .nowOn>a {
  display: table-cell;
  width: 60.3%;
}

#section6 .nowOn_View .nowOn>a .img {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 66.6%;
  overflow: hidden;
}

#section6 .nowOn_View .nowOn>a .img img {
  position: absolute;
  height: 430px;
}

#section6 .nowOn_lst .item .img {
  padding-bottom: 66.5%;
}

/*여기부터는 미디어커리! */
@media screen and (max-width: 1200px) {
  #section6 .nowOn_View .nowOn>a .img img {
    height: initial;
  }
}

@media screen and (max-width: 767px) {
  #section6 .nowOn_View .nowOn>a {
    display: block;
    width: 100%;
  }
}

/*2020.05.15 메인페이지 section6 부분 제거
#fullpage #section6 {display:none;}
#fp-nav ul li:nth-of-type(7){display:none;}
2020.05.15 메인페이지 section6 부분 제거 끝*/

/*반응형*/
@media screen and (min-width: 1431px) {

  /*1430보다 클때*/
  .mVisual_wrap {
    min-height: auto;
  }
}

@media screen and (max-width: 1430px) {
  .mVisual_wrap {
    min-height: auto;
  }
}

@media screen and (max-width: 1280px) {

  .aboutMignon_wrap1,
  .skills_wrap,
  .atomypark_wrap,
  .social_wrap,
  .portfolio_wrap2,
  .worlwide_wrap {
    padding: 3.75rem 2.75rem 0;
  }

  .aboutMignon_wrap2 {
    padding-left: 45%;
  }

  .aboutMignon_imgbox {
    width: 45%;
    padding-right: 0;
  }

  .aboutMignon_imgbox .slick-prev,
  .aboutMignon_imgbox .slick-next {
    right: calc(-100% - 1rem);
    right: -webkit-calc(-100% - 1rem);
  }

  .social_lst .item {
    padding: 2.5rem 0.5rem 0;
  }

  .social_lst .item>a {
    width: 18.8rem;
  }

  .social_lst .item .social_desc>.caption {
    padding: 1.5rem;
  }

  /*추가*/
  .social_lst2 .item {
    padding: 2.5rem 0.5rem 0;
  }

  .social_lst2 .item>a {
    width: 18.8rem;
  }

  .social_lst2 .item .social_desc>.caption {
    padding: 1.5rem;
  }

  /*추가끝*/

  .worldwide_group>div.active {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .main #header {
    top: 0;
  }

  .main #header .btn_allMenu {
    display: block;
  }

  .main #header .btn_allMenu .bar {
    background: #fff;
  }

  .main #header.fixed .btn_allMenu .bar {
    background: #2e3031;
  }

  .main #header #gnavigation .th1 {
    color: #000;
  }

  .main #header #gnavigation .th1:hover {
    color: #2ac1bc;
  }

  .main #header.mobile {
    top: 0;
    background: #fff;
  }

  .main #header.mobile h1.logo>a {
    background-position: 0 0;
  }

  .main #header.mobile .btn_allMenu .bar {
    background: #2e3031;
  }

  /*main header mobile languagesel */
  /* .main #header.mobile .languageSel dt>a {
    color: #757575;
  } */

  .main #header.mobile:after {
    background: #d0d3d5;
  }

  .aboutMignon_wrap1,
  .skills_wrap,
  .atomypark_wrap,
  .social_wrap,
  .portfolio_wrap2,
  .worlwide_wrap {
    padding: 3.75rem 1rem 0;
  }

  .mainCnts_wrap h3 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .aboutMignon_wrap2 {
    height: auto;
    padding-left: 50%;
  }

  .aboutMignon_num {
    right: 0;
  }

  .aboutMignon_imgbox {
    width: 50%;
  }

  .aboutMignon_count .slick-list {
    height: 18.7rem !important;
  }

  .aboutMignon_count .item {
    height: 3.5rem;
  }

  .aboutMignon_count .item.current {
    height: 11.7rem;
  }

  .aboutMignon_imgbox .slick-prev,
  .aboutMignon_imgbox .slick-next {
    right: calc(-100% - 2rem);
    right: -webkit-calc(-100% - 2rem);
  }

  .aboutMignon_desc .caption>.counter_wrap {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .aboutMignon_desc .caption>.counter_wrap>span {
    line-height: 2.5rem;
  }

  .aboutMignon_desc .caption>strong {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .aboutMignon_desc .caption>strong>span {
    line-height: 1.5rem;
  }

  .current .aboutMignon_desc {
    padding: 0.75rem 0;
  }

  .current .aboutMignon_desc .caption>.counter_wrap>span {
    font-size: 4rem;
    line-height: 4rem;
  }

  .current .aboutMignon_desc .caption>.desc {
    height: 4rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .skills_wrap .h3_desc {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .skills_wrap .more {
    margin-top: 1.75rem;
  }

  .skills_wrap .more>a {
    width: 10rem;
    height: 2.75rem;
    padding: 0.75rem;
    font-size: 0.8rem;
  }

  /* 
  .atomypark_title .h3_desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .atomypark_wrap .btn_wrap {
    margin-top: 1.75rem;
  }

  .atomypark_wrap .btn_wrap>a {
    width: 10rem;
    padding: 0.75rem;
    font-size: 0.8rem;
  } */

  .social_wrap h3 {
    margin-bottom: 2.5rem;
  }

  .social_lst .item>a {
    width: 18.5rem;
  }

  /*미뇽이가 추가*/
  .portfolio_wrap2 h3 {
    margin-bottom: 2.5rem;
  }

  .social_lst2 .item>a {
    width: 18.5rem;
  }

  /*미뇽이가 추가 끝*/
  /*
	.sociallst_wrap{overflow:scroll;touch-action:pan-x;}
	.sociallst_wrap::-webkit-scrollbar{height:3px;background:none}
	.sociallst_wrap::-webkit-scrollbar-thumb{background:#666;}
	.sociallst_wrap::-webkit-scrollbar-track{background:none}
	*/

  #section6 .innerwrap {
    padding: 0 5rem;
  }

  .nowOn>.caption>strong {
    font-size: 3rem;
    line-height: 3rem;
  }

  .nowOn>.caption>.desc {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .nowOn_lst .item strong {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }

  #fp-nav.right {
    display: none;
  }
}

@media screen and (max-width: 980px) {


  .aboutMignon_wrap2 {
    padding-right: 3rem;
  }

  .aboutMignon_num {
    margin-top: -2.5rem;
  }

  .social_lst .item>a {
    width: 15rem;
  }

  .social_lst .item .social_desc>.caption {
    padding: 1rem;
  }

  .social_lst .item .social_desc strong {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .social_lst .item .social_desc .desc {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .social_lst .item .social_desc .more {
    padding-top: 0.75rem;
    margin: 1rem auto 0;
    font-size: 0.7rem;
  }

  /*
	.social_lst .item .social_desc > .caption,
	.social_lst .item > a:hover .social_desc > .caption{bottom:-8rem}
	*/
  .social_lst .item>a:hover .social_desc {
    transform: none;
    box-shadow: none;
  }

  .social_lst .item>a:hover .social_desc .desc {
    margin-top: 0;
  }

  .social_lst .item.active {
    position: relative;
  }

  .social_lst .item.active a .social_desc>.caption {
    bottom: 0;
  }

  .social_lst .item.active a .social_desc .desc {
    margin-top: 0.75rem;
  }

  .social_lst .item.active .social_more {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  /*추가*/
  .social_lst2 .item>a {
    width: 15rem;
  }

  .social_lst2 .item .social_desc>.caption {
    padding: 1rem;
  }

  .social_lst2 .item .social_desc strong {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .social_lst2 .item .social_desc .desc {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .social_lst2 .item .social_desc .more {
    padding-top: 0.75rem;
    margin: 1rem auto 0;
    font-size: 0.7rem;
  }

  /*
	.social_lst .item .social_desc > .caption,
	.social_lst .item > a:hover .social_desc > .caption{bottom:-8rem}
	*/
  .social_lst2 .item>a:hover .social_desc {
    transform: none;
    box-shadow: none;
  }

  .social_lst2 .item>a:hover .social_desc .desc {
    margin-top: 0;
  }

  .social_lst2 .item.active {
    position: relative;
  }

  .social_lst2 .item.active a .social_desc>.caption {
    bottom: 0;
  }

  .social_lst2 .item.active a .social_desc .desc {
    margin-top: 0.75rem;
  }

  .social_lst2 .item.active .social_more {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  /*추가끝*/
  .worldwide_tab.active {
    padding: 1rem;
  }

  .worldwide_tab.active>.btn.return {
    left: 1rem;
  }

  .worldwide_tab.active .tabNav_lst {
    max-width: 30rem;
  }

  .worldwide_group>div.active .marking {
    font-size: 1.25rem;
  }

  .worldwide_group>div .title>.nation {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  .worldwide_group>div .title>.big {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .worldwide_group>div .desc {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .worldwide_group>div .desc>em {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .worldwide_group>div .desc>span {
    line-height: 1.4rem;
  }

  .worldwide_group>div .btns {
    width: 10rem;
  }

  .worldwide_group>div .btns>a.btn {
    padding: 0.4rem 0;
    font-size: 0.8rem;
  }

  #worldwide_map {
    margin-left: -3rem;
  }

  #section6 .innerwrap {
    padding: 0 1rem;
  }

  .nowOn>.caption>strong {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .nowOn>.caption>.desc {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .nowOn_lst .item strong {
    word-break: keep-all;
  }

  .nowOn_lst .item strong br {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mVisual_wrap .pc {
    display: none;
  }

  .mVisual_wrap .mobile {
    display: block;
  }

  .mVisual_wrap #mVisualVideoMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }

  .mainCnts_wrap h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  #section0 .scrollDown {
    bottom: 1rem;
  }

  .skills_wrap .h3_desc {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .aboutMignon_wrap1 {
    height: 100%;
  }

  .aboutMignon_wrap2 {
    height: 100%;
    padding: 0 1rem;
    margin: 0 -1rem;
  }

  .aboutMignon_imgbox {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .aboutMignon_imgbox .slick-list {
    height: 100% !important;
  }

  .aboutMignon_imgbox .slick-track {
    height: 100% !important;
  }

  .aboutMignon_imgbox .slick-slide {
    border: 0;
  }

  .aboutMignon_imgbox .item {
    height: 100%;
  }

  .aboutMignon_imgbox a {
    height: 100%;
    padding: 0;
  }

  .aboutMignon_imgbox .img {
    display: block;
    position: relative;
    height: 100%;
    background: #fff;
    overflow: hidden;
  }

  .aboutMignon_imgbox .img>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: none;
    opacity: 0.45;
    filter: alpha(opacity=45);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: none;
  }

  .aboutMignon_num {
    right: 1rem;
    margin-top: 0;
    z-index: 1;
  }

  .aboutMignon_imgbox .slick-prev,
  .aboutMignon_imgbox .slick-next {
    right: 1rem;
  }

  .aboutMignon_count {
    top: 50%;
    height: 16.25rem;
    transform: translateY(-50%);
  }

  .aboutMignon_count .slick-list {
    top: 0;
    height: 100% !important;
    padding: 0 1rem;
    transform: none;
    -webkit-transform: none;
  }

  .aboutMignon_count .item {
    height: 3.5rem;
    text-align: center;
  }

  .aboutMignon_count .item.current {
    height: 9.25rem;
  }

  .current .aboutMignon_desc {
    padding: 0;
  }

  .current .aboutMignon_desc .caption>.desc {
    color: #222;
  }

  .aboutMignon_desc .caption>.counter_wrap {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #444;
  }

  .aboutMignon_desc .caption>.counter_wrap>span {
    line-height: 2.5rem;
  }

  .aboutMignon_desc .caption>strong {
    font-size: 1rem;
    line-height: 1rem;
  }

  .aboutMignon_desc .caption>strong>span {
    line-height: 1rem;
  }

  .current .aboutMignon_desc {
    padding: 0.5rem 0;
  }

  .current .aboutMignon_desc .caption>.counter_wrap>span {
    font-size: 3rem;
    line-height: 3rem;
  }

  .current .aboutMignon_desc .caption>.desc {
    font-size: 0.75rem;
  }

  .skills_wrap .more {
    margin-top: 1.25rem;
  }

  .skills_wrap .more>a {
    width: 9rem;
    height: 2rem;
    padding: 0.4rem;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }

  /* .atomypark_title .h3_desc {
    font-size: 0.8rem;
    line-height: 1.25rem;
  } */

  .atomypark_wrap .btn_wrap {
    margin-top: 1.25rem;
  }

  .atomypark_wrap .btn_wrap>a {
    width: auto;
    display: block;
    padding: 0.4rem;
    font-size: 0.75rem;
    line-height: 1.2rem;
    float: none;
  }

  .atomypark_wrap .btn_wrap>a+a {
    margin: 0.5rem 0 0 0;
  }

  .social_wrap {
    padding-top: 2rem;
  }

  .social_wrap h3 {
    margin-bottom: 1rem;
  }

  .sociallst_wrap {
    overflow-x: auto;
  }

  .social_lst {
    display: block;
    padding: 0;
    table-layout: auto;
  }

  .social_lst:after {
    clear: both;
    display: block;
    content: "";
  }

  .social_lst .item {
    float: left;
    width: 16rem;
    padding-top: 0;
  }

  /*.social_lst .item .social_desc > .caption{bottom:-7rem}*/
  .social_lst .item .social_desc strong {
    font-size: 0.85rem;
  }

  .social_lst .item .social_desc .desc {
    font-size: 0.7rem;
    line-height: 1.15rem;
  }

  .social_lst .item .social_desc .more {
    padding-top: 0.5rem;
    margin-top: 0.75rem;
    font-size: 0.65rem;
  }

  /*추가 */
  .portfolio_wrap2 {
    padding-top: 2rem;
  }

  .portfolio_wrap2 h3 {
    margin-bottom: 1rem;
  }

  .portfolio_wrap2 {
    overflow-x: auto;
  }

  .social_lst2 {
    display: block;
    padding: 0;
    table-layout: auto;
  }

  .social_lst2:after {
    clear: both;
    display: block;
    content: "";
  }

  .social_lst2 .item {
    float: left;
    width: 16rem;
    padding-top: 0;
  }

  /*.social_lst .item .social_desc > .caption{bottom:-7rem}*/
  .social_lst2 .item .social_desc strong {
    font-size: 0.85rem;
  }

  .social_lst2 .item .social_desc .desc {
    font-size: 0.7rem;
    line-height: 1.15rem;
  }

  .social_lst2 .item .social_desc .more {
    padding-top: 0.5rem;
    margin-top: 0.75rem;
    font-size: 0.65rem;
  }

  /*추가끝*/
  .worldwide_wrap {
    padding: 3.75rem 1rem 1rem;
  }

  /*section6*/
  #section6 {
    min-height: inherit;
  }

  .nowOn>.img {
    width: 50%;
  }

  .nowOn>.caption {
    padding-left: 1.5rem;
  }

  .nowOn>.caption>strong {
    padding: 1rem 0;
    font-size: 2rem;
    line-height: 2rem;
  }

  .nowOn>.caption>.desc {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }

  .nowOn_View {
    padding-top: 1rem;
  }

  .nowOn_lst {
    margin: 0 -0.35rem;
  }

  .nowOn_lst .item {
    padding: 0 0.35rem;
  }

  .nowOn_lst .item strong {
    font-size: 0.65rem;
    line-height: 1.15;
    margin-top: 0.6rem;
  }

  .nowOn_lst {
    display: flex;
    flex-wrap: wrap;
  }

  .nowOn_lst .item {
    flex: 1;
    flex-basis: 50%;
    width: 50%;
    padding: 0.35rem;
  }
}

@media screen and (max-width: 480px) {
  .aboutMignon_wrap1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mainCnts_wrap h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .aboutMignon_num {
    top: auto;
    bottom: 1.5rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .aboutMignon_imgbox .slick-prev,
  .aboutMignon_imgbox .slick-next {
    top: auto;
    bottom: 0.8rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
  }

  .aboutMignon_imgbox .slick-prev {
    margin-left: -3.25rem;
  }

  .aboutMignon_imgbox .slick-next {
    margin-left: 3.25rem;
  }

  .aboutMignon_imgbox .img>img {
    width: auto;
    height: 100% !important;
  }

  .aboutMignon_count {
    height: 14.7rem;
  }

  .aboutMignon_count .item {
    height: 3rem;
  }

  .aboutMignon_count .item.current {
    height: 8.7rem;
  }

  .aboutMignon_desc .caption>.counter_wrap {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .aboutMignon_desc .caption>.counter_wrap>span {
    line-height: 2rem;
  }

  .aboutMignon_desc .caption>.desc {
    word-break: keep-all;
  }

  .aboutMignon_desc .caption>.desc br {
    display: none;
  }

  .aboutMignon_desc .caption>strong {
    font-size: 0.9rem;
  }

  .current .aboutMignon_desc .caption>.counter_wrap>span {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .skills_wrap h3 {
    text-align: center;
  }

  .skills_wrap .h3_desc {
    margin-top: 0.5rem;
  }

  .skills_wrap .products_title {
    text-align: center;
  }

  .skills_wrap .more>a {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .products_img .item.no1 {
    background-position: 75% 50%;
  }

  .products_img .item.no2 {
    background-position: 75% 50%;
  }

  /* .atomypark_title {
    text-align: center;
  } */
  /* 
  .atomypark_title h3 {
    text-align: center;
  } */

  /* .atomypark_wrap .btn_wrap {
    width: 16.5rem;
    margin: 1.25rem auto 0;
  } */

  .worldwide_group>div.active .marking {
    font-size: 0.8rem;
  }

  .worldwide_group>div.active .caption {
    padding-right: 0;
    bottom: 7rem !important;
  }

  .worldwide_group>div .btns {
    display: block;
    position: static;
    width: 100%;
    margin-top: 0.75rem;
  }

  .worldwide_group>div .btns:after {
    clear: both;
    display: block;
    content: "";
  }

  .worldwide_group>div .btns>a.btn {
    float: left;
    width: calc(50% - 0.25rem);
    width: -webkit-calc(50% - 0.25rem);
  }

  .worldwide_group>div .btns>a.btn+a.btn {
    margin-left: 0.5rem;
    margin-top: 0;
  }

  .worldwide_group>div .title>.nation {
    font-size: 0.8rem;
  }

  .worldwide_group>div .title>.big {
    font-size: 2rem;
    line-height: 2rem;
  }

  .worldwide_group>div .desc>em {
    font-size: 0.8rem;
  }

  .nowOn {
    display: block;
    table-layout: auto;
  }

  .nowOn>.img,
  .nowOn>.caption {
    display: block;
    width: 100%;
  }

  .nowOn>.img {
    display: none;
  }

  .nowOn>.caption {
    padding-left: 0;
  }

  /*.social_lst{width:42rem}*/
  .social_lst .item {
    width: 14rem;
  }

  .social_lst .item>a {
    width: 13rem;
  }

  /*add*/
  .social_lst2 .item {
    width: 14rem;
  }

  .social_lst2 .item>a {
    width: 13rem;
  }

  /*end add*/
}

@media screen and (max-width: 320px) {
  .worldwide_group>div.active .caption {
    bottom: 6rem !important;
  }
}