/* #section2 .skills_wrap .new-tab-link {
  padding-right: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3ggXDSIzCeRHfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA9SURBVBjTY2RAA/+XMvxHF2NkwAOwacCq4P9Shv8suFQzRiNsYUEXwKoJ2VhkNrIaJgYiAAs2N2BVRMirAD6JHi10MCdVAAAAAElFTkSuQmCC) no-repeat right center;
}

#section2 .page-title {
  font: 400 40px/1.5 Open Sans, sans-serif;
  text-align: center;
} */

#section2 .skills_wrap .innerwrap .circles {
  margin-bottom: -10px;
}

#section2 .skills_wrap .innerwrap .circle {
  width: 80px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

#section2 .skills_wrap .innerwrap .circle canvas {
  vertical-align: top;
}

#section2 .skills_wrap .innerwrap .circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

#section2 .skills_wrap .innerwrap .circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

#section2 .skills_wrap .innerwrap .circle span {
  display: block;
  color: #000;
  margin-top: 12px;
}



/* ??? */
#section2 p {
  margin: 10px 0;
  background-color: #f22;
}

#section2 .install {
  display: inline-block;
}

#section2 .install a {
  display: block;
  width: auto;
  vertical-align: middle;
  padding: 6px 12px;
  line-height: 20px;
  background-color: #111;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  margin: 5px auto;
  transition: all 0.3s;
}

#section2 .install code {
  padding: 6px 12px;
  display: block;
  font: 13px/20px Courier New, Liberation Mono, monospase;
  background-color: #333333;
  border-radius: 4px;
  margin: 5px 0;
  white-space: nowrap;
}

#section2 .install a:hover {
  background-color: #222;
}

#section2 .credits {
  color: #aaa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#section2 .credits img {
  margin-left: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

@media (max-height: 600px),
(max-width: 480px) {
  .credits {
    position: inherit;
  }
}