@charset "utf-8";


#section2 .page-title {
  font: 400 40px/1.5 Open Sans, sans-serif;
  text-align: center;
}

#section2 .circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

#section2 .circle canvas {
  vertical-align: top;
}

#section2 .circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

#section2 .circle span {
  display: block;
  color: #000;
  margin-top: 12px;
}